<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.hxy.dao.IRperEntityDao" >
  <resultMap id="BaseResultMap" type="com.buaa.hxy.pojo.RperEntity" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="serviceName" property="serviceName" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="protocol" property="protocol" jdbcType="VARCHAR" />
    <result column="sp" property="sp" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="vulID" property="vulID" jdbcType="VARCHAR" />
    <result column="orp" property="orp" jdbcType="VARCHAR" />
    <result column="tarp" property="tarp" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    rid,serviceName,port,protocol,sp,version,vulID,orp,tarp
  </sql>
   <insert id="setRperEntity" parameterType="com.buaa.hxy.pojo.RperEntity" >
    insert into rper (serviceName,port,protocol,sp,version,vulID,orp,tarp)
    values (#{serviceName,jdbcType=VARCHAR},#{port,jdbcType=VARCHAR},
    #{protocol,jdbcType=VARCHAR},#{sp,jdbcType=VARCHAR},
    #{version,jdbcType=VARCHAR},#{vulID,jdbcType=VARCHAR},#{orp,jdbcType=VARCHAR},
    #{tarp,jdbcType=VARCHAR})
  </insert>
  <delete id="delRper">
  delete from rper
  </delete>
  <select id="getRperEntityList" resultMap="BaseResultMap">
  select * from rper
  </select>
  <!-- <select id = "getAttackerList" resultMap="BaseResultMap" parameterType="java.lang.String">
  select * from attacker
  </select> -->
 <!--  <select id="setConnEntity" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from scheme
  </select> -->
<!--   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.buaa.hxy.pojo.User" >
    insert into user_t (id, user_name, password, 
      age)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.buaa.hxy.pojo.User" >
    insert into user_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="age != null" >
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buaa.hxy.pojo.User" >
    update user_t
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buaa.hxy.pojo.User" >
    update user_t
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
</mapper>