.input_upload
{ 
position: absolute; 
width: 180px; 
height: 40px; 
line-height: 40px; 
font-size: 23px; 
opacity: 0; 
filter: "alpha(opacity=0)"; 
filter: alpha(opacity=0); 
-moz-opacity: 0; 
left: -5px; 
top: -2px; 
cursor: pointer; 
z-index: 2; 
}
.submit_upload{
	position: absolute; 
	width: 60px; 
	height: 40px; 
	left:200px;
	top: 0px;
	line-height: 40px; 
	font-size: 23px; 
/* 	opacity: 100;  */
	cursor: pointer; 
	z-index: 3;
/* 	filter: "alpha(opacity=0)"; 
	filter: alpha(opacity=0); 
	-moz-opacity: 0; 
	left: -5px; 
	top: -2px; 
	cursor: pointer; 
	z-index: 2;  */
}